h1~h2{
    color: red;
}


h3+h4{
    background-color: blue;
}

ul>li>a{
    color: green;
    text-decoration: none;

    
    
}
ul li{ float: left;
    list-style: none;
    background-color: yellow;
    font-size: 30px;
    padding: 20px;
    width: 200px;
height: 40px;
margin-top: 5px;
display: block;
margin-left: 10PX;
text-align: center;
line-height: 40PX;

    
}
ul>li>ul>li{
    display: none;
}

a :hover{
    background-color: blueviolet;
}


